@font-face {
  font-family: 'URWDIN-Regular';
  src: url('~/assets/fonts/URWDIN-Regular.eot');
  src: local('URW DIN Regular'), local('URWDIN-Regular'),
      url('~/assets/fonts/URWDIN-Regular.eot?#iefix') format('embedded-opentype'),
      url('~/assets/fonts/URWDIN-Regular.woff2') format('woff2'),
      url('~/assets/fonts/URWDIN-Regular.woff') format('woff'),
      url('~/assets/fonts/URWDIN-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'URWDIN-Medium';
  src: url('~/assets/fonts/URWDIN-Medium.eot');
  src: local('URW DIN Medium'), local('URWDIN-Medium'),
      url('~/assets/fonts/URWDIN-Medium.eot?#iefix') format('embedded-opentype'),
      url('~/assets/fonts/URWDIN-Medium.woff2') format('woff2'),
      url('~/assets/fonts/URWDIN-Medium.woff') format('woff'),
      url('~/assets/fonts/URWDIN-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
	--ion-font-family: URWDIN-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --ion-background-color: #20283c !important;
	font-size: 12px;
}

body {
  margin: 0;
	font-size: 12px;
	font-family: URWDIN-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  // background-color: #20283c !important;
}

ion-content {
  width: calc(100% + 15px);
}
ion-content::part(scroll) {
  padding-right: 15px;
}

.bold-text {
  font-family: URWDIN-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: URWDIN-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 500;
  line-height: 1.2;
}

.text {
  &-up {
    color: @up-color;
  }

  &-down {
    color: @down-color;
  }

  &-warn {
    color: @warn-color;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.text {
  &-up {
    color: @up-color !important;
  }

  &-down {
    color: @down-color !important;
  }

  &-warn {
    color: @warn-color !important;
  }

  &-gray {
    color: @gray-color !important;
  }
}

.bg {
  &-up {
    background-color: @up-bg-color !important;
  }

  &-down {
    background-color: @down-bg-color !important;
  }

  &-warn {
    background-color: @warn-color !important;
  }
}

input {
  border: none;
  outline: none;
}

.skeleton-text-animated {
  --border-radius: 4px;
  --background: rgba(136, 136, 136, 0.65);
  --background-rgb: 136, 136, 136;
}

::-webkit-scrollbar {
  display: none;
}

#element {
  scrollbar-width: none;
}
